.react {
    background: #BAD5F5;
    span::after {
      content: "React.js";
    }
  }
  
  .express {
    background: #F2C986;
    span::after {
      content: "Express";
    }
  }
  
  .node {
    background: #E1C1C1;
    span::after {
      content: "Node.js";
    }
  }
  
  .python {
    background: #EADD86;
    span::after {
      content: "Python";
    }
  }
  
  .django {
    background: #AFEAE5;
    span::after {
      content: "Django";
    }
  }

  :root {
    --swiper-navigation-color: #c850c0 !important;
    --swiper-theme-color: #c850c0 !important;
  }
  #app {
    height: 100%;
  }
 
  
  
  .swiper {
    width: 100%;
    height: 60vh;
    
  }
  
  .swiper-slide {
    text-align: center;
    
    
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  