.react {
    background: #BAD5F5;
    span::after {
      content: "React.js";
    }
  }
  
  .express {
    background: #F2C986;
    span::after {
      content: "Express";
    }
  }
  
  .node {
    background: #E1C1C1;
    span::after {
      content: "Node.js";
    }
  }
  
  .python {
    background: #EADD86;
    span::after {
      content: "Python";
    }
  }
  
  .django {
    background: #AFEAE5;
    span::after {
      content: "Django";
    }
  }